@page
@model ydai5.Pages.EnrollStudentModel
@{
    ViewData["Title"] = "Enroll Student";
    Layout = "_Layout";
}
@section scriptContent
{
    <script type="text/javascript">
        function isFormValid(aForm) {
            var isValid = true;
            var studentID = aForm.InputField.value;
            var FirstName = aForm.FirstName.value;
            var LastName = aForm.LastName.value;
            var Email = aForm.Email.value;
            var ProgramCode = aForm.ProgramCode.value;

            if (studentID.length === 0) {
                isValid = false;
                alert('Student ID is required.')
            }

            if (studentID.value.length > 10) {
                isValid = false;
                alert('Student ID must not exceed 10 characters.') 
            }

            if (FirstName.length === 0) {
                isValid = false;
                alert("First name is required.");
            }
            if (FirstName.length > 50) {
                isValid = false;
                alert("First name must not exceed 50 characters.");
            }

            if (LastName.length === 0) {
                isValid = false;
                alert("Last name is required.");
            }
            if (LastName.length > 50) {
                isValid = false;
                alert("Last name must not exceed 50 characters.");
            }

            if (Email.length === 0) {
                isValid = false;
                alert("Email address is required.");
            }

            if (ProgramCode.length === 0) {
                isValid = false;
                alert("Program code is required.");
            }
            if (ProgramCode.length > 10) {
                isValid = false;
                alert("Program code must not exceed 10 characters.");
            }

            // Prevent form submission if there are validation errors

            return isValid;
        }
    </script>
}

<h2>Enroll Student</h2>

<form name="form" method="post" onsubmit="return isFormValid(window.document.form);">
    <div class="form-group">
        <label>Student ID</label>
        <input name="StudentID" />
        @Html.ValidationMessage("StudentID")
    </div>
    <div>
        <label>First Name</label>
        <input name="FirstName" />
        @Html.ValidationMessage("FirstName")
    </div>

    <div>
        <label for="LastName">Last Name</label>
        <input name="LastName" />
        @Html.ValidationMessage("LastName")
    </div>

    <div>
        <label>Email</label>
        <input name="Email" />
        @Html.ValidationMessage("Email")
    </div>

    <div>
        <label>Program Code</label>
        <input name="ProgramCode" />
        @Html.ValidationMessage("ProgramCode")
    </div>


    <input type="submit" name="Submit" value="Enroll Student" class="btn btn-primary" />
</form>
<div>@Model.Message</div>

