@page
@model ydai5.Pages.FindProgramModel
@{
    ViewData["Title"] = "Find Program";
    Layout = "_Layout";
}

<h2>Find Program</h2>


<form method="post">
    <div>
        <label>Program Code</label>
        <input name="ProgramCode" />
    </div>

    <input type="submit" name="Submit" value="Find Program" />
</form>

@if (Model.ActiveProgram != null)
{
    <div>
        <h4>Program Details</h4>
        <p><strong>Program Code:</strong> @Model.ActiveProgram.ProgramCode</p>
        <p><strong>Description:</strong> @Model.ActiveProgram.Description</p>

        <h5>Enrolled Students</h5>
        @foreach (var student in Model.ActiveProgram.EnrolledStudents)
        {
            <p>
                <strong>Student ID:</strong> @student.StudentID<br />
                <strong>First Name:</strong> @student.FirstName<br />
                <strong>Last Name:</strong> @student.LastName<br />
                <strong>Email:</strong> @student.Email
            </p>
            <hr />
        }
    </div>
}

<div>@Model.Message</div>
