@page
@model ydai5.Pages.FindStudentModel
@{
    ViewData["Title"] = "Find Student";
    Layout = "_Layout";
}
<h2>Find Student</h2>

<form method="post">
    <div>
        <label>Student ID</label>
        <input name="StudentID" />
    </div>

    <input type="submit" name="Submit" value="Find Student" />
</form>
<div class="mt-4">
    <h4>@Model.Message</h4>
    @if (Model.EnrolledStudent != null)
    {
        <div>
            <p><strong>Student ID:</strong> @Model.EnrolledStudent.StudentID</p>
            <p><strong>First Name:</strong> @Model.EnrolledStudent.FirstName</p>
            <p><strong>Last Name:</strong> @Model.EnrolledStudent.LastName</p>
            <p><strong>Email:</strong> @Model.EnrolledStudent.Email</p>
        </div>
    }
</div>
