@page
@model ydai5.Pages.ModifyStudentModel
@{
    ViewData["Title"] = "Modify Student";
    Layout = "_Layout";
}

<h2>Modify Student</h2>

<form method="get">
    <div>
        <label for="StudentID">Student ID</label>
        <input id="StudentID" name="StudentID" value="@Model.StudentID" />
    </div>
    <input type="submit" value="Find Student" />
</form>

<form method="post">
    <div>
        <label for="FirstName">First Name</label>
        <input id="FirstName" name="FirstName" value="@Model.FirstName" />
    </div>
    <div>
        <label for="LastName">Last Name</label>
        <input id="LastName" name="LastName" value="@Model.LastName" />
    </div>
    <div>
        <label for="Email">Email</label>
        <input id="Email" name="Email" value="@Model.Email" />
    </div>
    <input type="submit" value="Modify Student" />
</form>

<div>@Model.Message</div>
