@page
@model ydai5.Pages.ModifyStudentModel
@{
    ViewData["Title"] = "Modify Student";
    Layout = "_Layout";
}

<h2>Modify Student</h2>
<form method="get">
    <div>
        <label>Student ID</label>
        <input name="StudentID" value="@Model.StudentID" />
    </div>

    <input type="submit" name="Submit" value="Find Student" />
</form>

<form method="post">
    <div>
        <label>First Name</label>
        <input name="FirstName" value="@Model.FirstName" />
    </div>

    <div>
        <label>Last Name</label>
        <input name="LastName" value="@Model.LastName" />
    </div>

    <div>
        <label>Email</label>
        <input name="Email" value="@Model.Email" />
    </div>

    <input type="submit" name="Submit" value="Modify Student" />
</form>
<div>@Model.Message</div>
