@page
@model ydai5.Pages.RegisterModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Register</title>
    <script type="text/javascript">
        function isValid(aForm) {
            var isValid = true;

            var firstName = aForm.FirstName.value;
            if (!firstName) {
                alert("First name is required.");
                isValid = false;
            }
            if (firstName.length > 50) {
                alert("First name cannot be longer than 50 characters.");
                isValid = false;
            }

            var lastName = aForm.LastName.value;
            if (!lastName) {
                alert("Last name is required.");
                isValid = false;
            }
            if (lastName.length > 50) {
                alert("Last name cannot be longer than 50 characters.");
                isValid = false;
            }

            var email = aForm.Email.value;
            if (!email) {
                alert("Email address is required.");
                isValid = false;
            }

            var program = aForm.Program.value;
            if (!program) {
                alert("Program is required.");
                isValid = false;
            }

            var userID = aForm.UserID.value;
            var userIDPattern = /^[A-Z]{4}[0-9]{4}$/;
            if (!userID) {
                alert("User ID is required.");
                isValid = false;
            } else if (!userIDPattern.test(userID)) {
                alert("User ID must be 4 letters followed by 4 digits.");
                isValid = false;
            }

            var password = aForm.Password.value;
            if (!password) {
                alert("Password is required.");
                isValid = false;
            } else if (password.length < 6 || password.length > 100) {
                alert("Password must be between 6 and 100 characters.");
                isValid = false;
            }

            var confirmPassword = aForm.ConfirmPassword.value;
            if (!confirmPassword) {
                alert("Confirm password is required.");
                isValid = false;
            } else if (confirmPassword !== password) {
                alert("Passwords do not match.");
                isValid = false;
            }

            return isValid;
        }
    </script>
</head>
<body>
    <h2>Register</h2>
    <form method="post" name="aForm" onsubmit="return isValid(window.document.aForm)">
        <div>
            <label>First Name</label>
            <input name="FirstName" />
            @Html.ValidationMessage("FirstName")
        </div>

        <div>
            <label>Last Name</label>
            <input name="LastName" value="@Model.LastName" />
            @Html.ValidationMessage("LastName")
        </div>

        <div>
            <label>Email</label>
            <input name="Email" value="@Model.Email" />
            @Html.ValidationMessage("Email")
        </div>

        <div>
            <label>Program</label>
            <select name="Program" value="@Model.Program">
                <option value="">Select a program</option>
                <option value="BAIST">Bachelor of Applied Information Systems Technology (BAIST)</option>
                <option value="BBA">Bachelor of Business Administration (BBA)</option>
                <option value="PHOT">Photographic Technology (PHOT)</option>
            </select>
            @Html.ValidationMessage("Program")
        </div>

        <div>
            <label>User ID</label>
            <input name="UserID" value="@Model.UserID" />
            @Html.ValidationMessage("UserID")
        </div>

        <div>
            <label>Password</label>
            <input name="Password" type="password" value="@Model.Password" />
            @Html.ValidationMessage("Password")
        </div>

        <div>
            <label>Confirm Password</label>
            <input name="ConfirmPassword" type="password" value="@Model.ConfirmPassword" />
            @Html.ValidationMessage("ConfirmPassword")
        </div>

        <input type="submit" />
    </form>
    <div>@Model.Message</div>
</body>
</html>
