@page
@model ydai5.Pages.RemoveStudentModel
@{
    ViewData["Title"] = "Remove Student";
    Layout = "_Layout";
}

<h2>Remove Student</h2>

<form method="get">
    <div>
        <label>Enter Student ID to Search</label>
        <input name="StudentID" />
    </div>

    <input type="submit" name="Search" value="Find Student" />
</form>

@if (Model.EnrolledStudent != null)
{
    <div>
        <h4>Student Details</h4>
        <p><strong>Student ID:</strong> @Model.EnrolledStudent.StudentID</p>
        <p><strong>First Name:</strong> @Model.EnrolledStudent.FirstName</p>
        <p><strong>Last Name:</strong> @Model.EnrolledStudent.LastName</p>
        <p><strong>Email:</strong> @Model.EnrolledStudent.Email</p>

        <form method="post">
            <input type="hidden" name="StudentID" />
            <input type="submit" name="Submit" value="Remove Student" />
        </form>
    </div>
}

<div>@Model.Message</div>